body,
html {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 15%;
    float: left;
}

.nav {
    width: 80%;
    float: left;
}

header {
    width: 100%;
    float: left;
  background: linear-gradient(180deg, rgb(255, 122, 122), rgb(251, 124, 124),#ff8989);




    padding: 10px 0;
    position: fixed;
    z-index: 100;
    top: 0px;

}

header ul li {

    list-style: none;
    float: left;
    width: 25%;
    text-align: right;
    font: bold 1.2em Arial, Helvetica, sans-serif;
}

header img {
    width: 25%;
    border-radius: 50%;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

header ul li a:hover {
    color: #282424;
    background: linear-gradient(135deg,#ffeb37,#ccc);
    transition: .7s;
    border-radius: 5px;
    width: 75px;

}

.hero {
    background: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 6px black;
    margin-top: 75px;

}

.hero  :hover {
    transform: scale(1.04);
    transition: 0.2s;
    background: linear-gradient(180deg, #000000, #ccc);

}

body {
    margin: 0;
    font-family: Arial;
    background: #f6f6f6;
}

.section {
    text-align: center;
    padding: 35px;
}

.card {
    background: white;
    width: 230px;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 0.25s;
}

.card:hover {
    transform: scale(1.07);
    box-shadow: 0 12px 44px rgba(255, 0, 0, 0.2);
    background: linear-gradient(160deg,#ffffff, #fcee6f, #ffffff);
}


.section {
    text-align: center;
    padding: 35px;
}

.footer {
    background: #b22222;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 25px;
}
.master{
    background: linear-gradient(327deg, #e17171, #ffffff,#e17171);

}
.section h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    color: #000000b6;
}
